*{
    padding:0;
    margin:0;
}

.box{
    border: 2px solid black;
    width:600px;
    height:100px;
    margin:2px;
}

.box1{
 background-color: rgb(132, 255, 255);  
 position: relative;
 z-index: 2; 
}
.box2{
 background-color: rgb(150, 171, 255); 
 position:relative;
 bottom:20px;
 left:20px; 

}
.box3{
 background-color: rgb(147, 255, 185);   
}
.box4{
 background-color: rgb(255, 171, 255);   
}
.box5{
 background-color: rgb(255, 245, 131);   
}

.para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 68px;
}

.fixDiv{
    box-sizing: border-box;
    border:3px solid rgb(118, 49, 178);
    width:100%;
    height: 15vh;
    display: flex;
    margin: auto;
    background-color:rgb(0, 56, 223);
    position: sticky;
    top:0px;
 
}

.stiDiv{
    box-sizing: border-box;
    border:3px solid rgb(118, 49, 178);
    width:100%;
    height: 15vh;
    display: flex;
    margin: auto;
    background-color:rgb(255, 0, 0);
    position: sticky;
    top:0px;
 
}